
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
    padding: 3% 0;
  display: flex;
justify-content: center;
  min-width: 100%;
  min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background: white;
}
